<div class="container-fluid my-5 text-center">
    <div class="row justify-content-center">        
        {% for slide in component.slides %}
            <div class="col-sm-10 col-md-3 mt-3">
                <div class="card">
                    <img src="{{slide.image}}" style="cursor:pointer" class="card-img-top" alt="{{slide.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{slide.title}}</h5>
                        <p class="card-text">{{slide.description}}</p>
                        <a href="#" class="btn btn-primary bth"><i class="bi bi-cart2 mx-2 fs-4"></i> Add to cart</a>                        
                        <a href="#" class="btn btn-danger mt-3 bth"><i class="bi bi-suit-heart mx-2 fs-4"></i> Add to favourites</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


