<div class="container-fluid my-5 text-center">
    <div class="row justify-content-center">        
        {% for slide in component.slides %}
            <div class="col-sm-3 col-md-2 img-container mt-3">
                <img src="{{slide.image}}" style="cursor:pointer" alt="{{slide.title}}"/>
            </div>
        {% endfor %}
    </div>
</div>